<div class="mui-panel">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <legend><%= resource_name.to_s.humanize %> settings</legend>

    <div class="mui-textfield mui-textfield--float-label">
      <%= f.email_field :email, autofocus: true %>
      <%= f.label :email %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="mui-textfield mui-textfield--float-label">
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.label :password %>
      <i>(leave blank if you don't want to change it)</i>
    </div>

    <div class="mui-textfield mui-textfield--float-label">
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <%= f.label :password_confirmation %>
    </div>

    <% if current_user.encrypted_password.present? %>
    <div class="mui-textfield mui-textfield--float-label">
      <%= f.password_field :current_password, autocomplete: "off", required: 'required' %>
      <%= f.label :current_password %>
      <i>(we need your current password to confirm your changes)</i>
    </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Update", class: 'mui-btn mui-btn--raised mui-btn--primary' %>
      <%= link_to "Back", :back, class: 'mui-btn mui-btn--raised' %>
    </div>
  <% end %>
</div>

<div class="mui-panel">
  <h3>Cancel my account</h3>

  <p>
    This will permanently delete your user account and all dactylograms you have uploaded. Links to them will no longer work and any Ghost sessions will be disabled.
  </p>
  <p>
    This cannot be undone!
    <%= button_to "Delete my account FOREVER", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'mui-btn mui-btn--danger' %>
  </p>
</div>