
<div class="logo">
    <a href="/"><%= image_tag 'dactyl-hero.png' %></a>
</div>

<%= form_tag({action: :create}, method: :post, class: 'mui-panel', id: 'this-form') do %>
    <i class="material-icons md-36 toggle-expansion-button">aspect_ratio</i>
    <legend style="width: 80%;">Generate a linguistic dactylogram below:</legend>

    <div class="mui-form-group" style="height:80%;">
        <textarea class="mui-form-control" name="text" id="input_text_area"><%= @file_text %></textarea>
        <label class="mui-form-floating-label">
            <% if @file_text.blank? %>
                Write or paste any text here.
            <% else %>
                Your imported text is ready for review.  Click analyze when ready.
            <% end %>
        </label>
    </div>
    <div class="buttons">
        <button type="submit" class="mui-btn mui-btn-default mui-btn-primary mui-btn-raised" id="analyze-text-button">Analyze this text</button>
        or
        <button id="document-upload-button" class="mui-btn mui-btn-default mui-btn-raised" onclick="#">Analyze a file</button>
        <span class="loading-icon" id="submit-loading-icon"><%= image_tag 'loading.gif' %></span>
    </div>
    <div style="clear: both;"></div>
<% end %>

<%= form_tag({action: :create}, multipart: true, id: 'file-upload-form') do %>
  <%= file_field_tag 'file', accept: '.pdf,.docx,.rtf,.txt', id: "document-upload" %>
<% end %>


<script type="text/javascript">
  $('#submit-loading-icon').hide();

  $('#analyze-text-button').click(function () {
    $('#analyze-text-button').attr('disabled', 'disabled');
    $('#document-upload-button').attr('disabled', 'disabled');
    $('#submit-loading-icon').show();
    $('#this-form').submit();
  });

  $('#document-upload-button').click(function () {
    $('#analyze-text-button').attr('disabled', 'disabled');
    $('#document-upload-button').attr('disabled', 'disabled');
    $('#document-upload').click();
    return false;
  });

  $('#document-upload').bind('change', function() {
    var size_in_kilobytes = this.files[0].size/1024;
    if (size_in_kilobytes > 500) {
      alert('Maximum file size is 500KB right now. Please choose a smaller file.');
      $('#analyze-text-button').removeAttr('disabled');
      $('#document-upload-button').removeAttr('disabled');
    } else {
      $('#submit-loading-icon').show();
      $('#file-upload-form').submit();
    }
  });
</script>