<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Authors:</strong>
  <% @book.authors.each { |author| %><%= link_to author.name, author %><% } %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Corpi available at:</strong>
  <ul class="browser-default">
    <% @book.hosted_corpus.each do |corpus| %>
      <li><%= link_to corpus.url, corpus.url %></li>
    <% end %>
  </ul>
  <%= @book.description %>
</p>

<%= link_to 'Edit this book info', edit_book_path(@book) %>

<p>
  <strong>Last indexed:</strong>
  <%= @book.last_indexed %>
</p>

<% @book.metric_groupings.order(:name).each do |metric_grouping| %>
  <table>
    <thead>
      <tr>
        <td colspan="2"><%= metric_grouping.name %></td>
      </tr>
    </thead>
    <% metric_grouping.metrics.order(:name).each do |metric| %>
      <tr>
        <td width="50%" style="vertical-align: top"><%= metric.name.humanize %></td>
        <td>
          <%= render partial: "metrics/#{metric.format_style.presence || 'raw'}", locals: { metric: metric } %>
        </td>
      </td>
    <% end %>
  </table>
<% end %>
