<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Authors:</strong>
  <% @book.authors.each { |author| %><%= link_to author.name, author %><% } %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Corpi available at:</strong>
  <ul class="browser-default">
    <% @book.hosted_corpus.each do |corpus| %>
      <li><%= link_to corpus.url, corpus.url %></li>
    <% end %>
  </ul>
  <%= @book.description %>
</p>

<%= link_to 'Edit this book info', edit_book_path(@book) %>

<p>
  <strong>Last indexed:</strong>
  <%= @book.last_indexed %>
</p>

<ul class="collapsible popout">
  <% @book.metric_groupings.order(:name).each do |metric_grouping| %>
    <li>
      <div class="collapsible-header amber darken-1">
        <i class="material-icons">subdirectory_arrow_right</i>
        <%= metric_grouping.name %>
        (<%= metric_grouping.metrics.count %>)
      </div>
      <div class="collapsible-body white">
        <% metric_grouping.metrics.order(:name).each do |metric| %>
          <div class="row">
            <div class="col s12 m4">
              <%= metric.name.humanize %>
            </div>
            <div class="col s12 m8">
              <% if metric.value.present? %>
                <%= render partial: "metrics/#{metric.format_style.presence || 'raw'}", locals: { metric: metric } %>
              <% else %>
                <%= render partial: "metrics/no_data", locals: { metric: metric } %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </li>

  <% end %>
</ul>
