<div id="ghost-container" class="mui-container-fluid">
  <div class="mui-row">
    <div class="mui-col-md-12">
      <h1>
        Ghost
      </h1>
      <h2>
        <%= link_to 'Powered by', @dactyl %>
        <%= link_to @dactyl do %>
          <%= image_tag 'dactyl-hero.png', height: '40px;' %>
        <% end %>
      </h2>
    </div>
  </div>
  <div class="mui-row">
    <div class="mui-col-md-8">
      <div class="editable editor mui-panel"></div>
    </div>

    <div class="mui-col-md-4">
      <div class="stats mui-panel">
        <% @alwaysshowingmetrics.each do |metric_name| %>
          <div class="metric" id="<%= metric_name.split('::').last %>">
            <span class="goal">
              <span class="current"></span>
            </span>
            <span class="name">
              <%= metric_name.split('::').last.humanize %>
            </span>
          </div>
        <% end %>
      </div>

      <div id="magic-message" class="mui-panel">
        <em>Ghost Guidance will appear here when you have at least 20 words.</em>
      </div>

      <div class="metrics">
        <%# TODO: editor/ partials %>
        <div class="mui-panel">
          <% @metrics.each do |metric_name, metric_value| %>
            <%= render partial: 'metric_line', locals: { name: metric_name.split('::').last, value: metric_value } %>
          <% end %>
        </div>

      </div>
    </div>
  </div>


</div>

<%= content_for :scripts do %>
  <script src="https://npmcdn.com/nlp_compromise@latest/builds/nlp_compromise.min.js"></script>
  <%= javascript_include_tag 'editor.js' %>
<% end %>