
<div class="logo">
    <a href="/"><%= image_tag 'dactyl-hero.png' %></a>
</div>

<%= form_tag(params.except(:text), method: :post, class: 'mui-panel', id: 'this-form') do %>
    <legend>Generate a linguistic dactylogram below:</legend>

    <div class="mui-form-group">
        <textarea class="mui-form-control" name="text" rows="10"></textarea>
        <label class="mui-form-floating-label">Write or paste any text here</label>
    </div>
    <div class="buttons">
	    <button type="submit" class="mui-btn mui-btn-default mui-btn-primary mui-btn-raised" onclick="javascript:$(this).attr('disabled', 'disabled'); $('#this-form').submit();">Analyze</button>
	    <%= link_to "Clear", 'javascript:$("textarea").val("")', class: "mui-btn mui-btn-default mui-btn-raised" %>
    </div>
<% end %>

<%= form_tag({action: :index}, multipart: true) do %>
    <span class="document">
        <%= file_field_tag 'file', accept: '.pdf,.docx,.rtf,.txt', id: "document_upload" %>
    </span>
    <%= submit_tag "Upload", class: "mui-btn mui-btn-default mui-btn-primary mui-btn-raised" %>
<% end %>
 
<% if !@file_text.nil? %>
    <pre><%= @file_text %></pre>
<% end %>

<script type="text/javascript">
  $('#document_upload').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>