<div class="logo">
	<a href="/"><%= image_tag 'dactyl-logo.png' %></a>
</div>

<div class="mui-panel" style="text-align: center">
    <%= link_to "View this as an API call", "/api/v1/dactyl?id=#{params[:id]}", class: "mui-btn mui-btn-raised" %>
    <%= link_to "Analyze something else", "/", class: "mui-btn mui-btn-raised" %>
</div>

<% @report && @report[:metrics].keys.each do |category| %>
<table class="mui-table mui-table-bordered mui-panel">
    <thead>
        <tr>
            <td colspan="2" class="metric-category-row"><%= category.to_s.humanize %></td>
        </tr>
    </thead>
    <tbody>
        <% @report[:metrics][category].each do |metric, value| %>
        <% next if value.blank? %>
        <tr>
            <td width="50%"><%= metric.humanize %></td>
            <td class="metric-value">
            	<div class="scrolling-container">
                    <%
                        more_info = I18n.t("metric-descriptions.#{metric}", :default => '')
                        if more_info.present?
                    %>
                        <div class="read-more-link">
                            <a href="#" data-title="About this metric" data-content="<%= more_info.gsub("\n", "<br />") %>" data-placement="right">
                                ?
                            </a>
                        </div>
                    <%
                        end
                    %>
                    <%= case value
                        when Float
                            value *= 100 if metric.end_with?('_percentage')
                            [
                                number_with_precision(value, precision: 3),
                                metric.end_with?('_percentage') ? ' %' : ''
                            ].join

                        when Hash then "<span class='monospace'>#{value}</span>".html_safe
                        when Array then "<span class='monospace'>#{value.to_s}</span>".html_safe

                        else value
                    end
                    %>
                </div>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<% end %>
<script>
$(document).ready(function(){
    $('.read-more-link > a').webuiPopover({
        width: '320px',
        animation: 'pop'
    });
});
</script>