<div class="logo">
    <a href="/"><%= image_tag 'dactyl-logo.png' %></a>
</div>

<div class="mui-panel" style="text-align: center">
    <%= link_to "View this as an API call", "/api/v1/dactyl?id=#{params[:id]}", class: "mui-btn mui-btn-raised" %>
    <%= link_to "Analyze something else", "/", class: "mui-btn mui-btn-raised" %>
</div>

<% @report && @report[:metrics].keys.each do |category| %>
<table class="mui-table mui-table-bordered mui-panel">
    <thead>
        <tr>
            <td colspan="2" class="metric-category-row"><%= category %></td>
        </tr>
    </thead>
    <tbody>
        <% @report[:metrics][category].each do |metric| %>
        <%
            metric_name  = metric.keys.first
            metric_value = metric.values.first
        %>
        <tr>
            <td width="50%"><%= metric_name.humanize %></td>
            <td class="metric-value">
                <div class="scrolling-container">
                    <%
                        more_info = I18n.t("metric-descriptions.#{category}.#{metric_name}", :default => '')
                        render partial: more_info, locals: { text: more_info } if more_info.present?
                    %>
                    <%= case metric_value
                        when Float
                            metric_value *= 100 if metric_name.end_with?('_percentage')
                            [
                                number_with_precision(metric_value, precision: 3),
                                metric_name.end_with?('_percentage') ? ' %' : ''
                            ].join

                        when Hash then "<span class='monospace'>#{metric_value}</span>".html_safe
                        when Array then "<span class='monospace'>#{metric_value.to_s}</span>".html_safe

                        else metric_value
                    end
                    %>
                </div>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<% end %>
<script>
$(document).ready(function(){
    $('.read-more-link > a').webuiPopover({
        width: '320px',
        animation: 'pop'
    });
});
</script>