<% if current_user %>
  <div class="mui-dropdown">
    <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
      Your Account
      <span class="mui-caret"></span>
    </button>
    <ul class="mui-dropdown__menu mui-dropdown__menu--right">
      <li><%= link_to 'Recent dactylograms', dactylograms_path, class: 'mui--text-white' %></li>
      <li><%= link_to 'Account settings', edit_user_registration_path, class: 'mui--text-white' %></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'mui--text-white' %></li>
    </ul>
  </div>
<% else %>
  <%= link_to 'Sign up', new_user_registration_path, class: 'mui--text-white' %>
  <%= link_to 'Sign in',   new_user_session_path, class: 'mui--text-white' %>
<% end %>
